.title
{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-style: revert;
    text-shadow: 2px 2px 4px #000; /*https://www.w3schools.com/css/css3_shadows.asp*/
}


.container
{
    justify-content: center;
    text-align: center;
    margin-bottom: 10rem;
    flex-direction: column;
    margin-top: 5rem;
    width: 80%;
    height: 300px;
    background-color: lightgrey;
    border: 3px solid black;
    padding: 1.5rem;
}
.buton-container
{
    margin-top: 7rem;

}

html,main
{
    min-height: 100vh;
}


.current-weather-button
{
    background-color: #2727b7;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
    padding: 15px 40px;
    font-size: 16px;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /*remember this gets rid of underline from an <a> tag. By default an anchor tag has an underline*/
    border-radius: 30px;
    margin-right: 35px;

}

.current-weather-button:hover
{
    background-color: lightblue;
}

.five-day-forecast-button
{
    background-color: #2727b7;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
    padding: 15px 40px;
    font-size: 16px;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /*remember this gets rid of underline from an <a> tag. By default an anchor tag has an underline*/
    border-radius: 30px;
    margin-left: 35px;
}

.five-day-forecast-button:hover
{
    background-color: lightblue;
}

.user-zipcode
{
    color:white;
    font-size: 35px;
    font-weight: bold;
    font-style: revert;
    text-shadow: 2px 2px 4px #000; /*https://www.w3schools.com/css/css3_shadows.asp*/
    text-align: center;
    margin-top: 30px;
}